---
layout: home
---
    <div class="container" role="main">
      {% for post in site.posts %}
      <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% endif %}" lang="{{ post.lang | default: "en" }}">
        <div>
          <span class="number">{{ post.number }}</span>
          <time>{{ post.date | date: "%b %d, %Y" }}</time>
          <address><a href="{{ post.location.link }}">{{ post.location.label }}</a></address>
        </div>
        <section>
          <h4>{{ post.topic }}</h4>
          <a href="{{ post.source.link }}">🚀 {{ post.source.label }}</a>
          <p>
            {{ post.description }}
          </p>
          <p>👏 {{ post.organiser }} + {{ post.members.size | minus: 1 }}</p>
        </section>
      </article>
      {% endfor %}
    </div>