  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title | escape }}</title>
    <meta name="language" content="{{ site.lang | default: "en" }}" />
    <meta name=description content="{{ site.description | escape }}" />
    <meta http-equiv="last-modified" content="{{ page.last_modified_at }}">
    <link href="{{ page.url | replace:'index.html','' | absolute_url }}" rel="canonical">
    <link href="{{ "./assets/main.css" | relative_url }}" rel="stylesheet" type="text/css">
    <script src="https://use.typekit.net/hrp1alf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
